{% extends 'base.html.twig' %}

{% block title %}ERROR{% endblock %}

{% block body %}
        <div class="error-message">ACCESO DENEGADO <br>(No tiene los permisos suficientes)</div>

{% endblock %}
