{% extends 'base.html.twig' %}

{% block title %}Menu Principal{% endblock %}

{% block body %}
    <div class="container center">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                <button class="btn btn-lg btn-primary" type="submit">Gestión Administrativa</button>
                <div style="height:10px;"></div>
            {% else %}
                <button class="btn btn-lg btn-primary">Gestión Técnica</button>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
