{% extends 'base.html.twig' %}

{% block title %}Crear una nueva aarte iteresada{% endblock %}

{% block body %}
    <h3>Crear una nueva parte interesada</h3>

    {{ form_start(form) }}
        {{ form_row(form.nombre) }}
        {{ form_row(form.TipoParteInteresada) }}        
    <button class="btn waves-effect waves-light right" type="submit">Añadir</button>
    <a href="#" onClick="window.history.back();" class="btn red darken-1">Volver</a>
    <br/>
    {{ form_end(form) }}

{% endblock %}

{#{% block javascripts %}
    <script type="text/javascript">
    $(document).ready(function(){
        $('select').formSelect();
        $('#factores_criticos_de_exito_aspectosFav').attr('style','display: none !important');
        $('#factores_criticos_de_exito_aspectosDes').attr('style','display: none !important');
    });
    </script>
{% endblock %}#}