{% extends 'base.html.twig' %}

{% block title %}Hello CuestionExternaController!{% endblock %}

{% block body %}
        <h3>Nueva cuestion externa</h3>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}

        {%for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
{% endblock %}
