{% extends 'base.html.twig' %}

{% block title %}Factores Potenciales de Éxito{% endblock %}

{% block body %}
<h3>Factores Potenciales de Éxito</h3>
{% if fpe|length > 0 %}
    <table id="contratos">
        <thead>
        <tr>
            <th>Factores potenciales de éxito</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for factor in fpe %}
            <tr>
                <td>{{ factor.descripcion }}</td>
                <td>
                    <a href="{{ path('factores_potenciales_de_exito_edit', {'id': factor.id}) }}" class="btn-floating"><i class="material-icons">edit</i></a>
                    <a href="{{ path('contrato_delete', {'id': factor.id}) }}" class="btn-floating red darken-1"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <span>No hay factores potenciales de éxito creados.</span>
{% endif %}
<button type="submit" class="btn btn-lg btn-primary"><a style="color:white;"
                                                        href="{{ path('factores_potenciales_de_exito_new')}}">Añadir Nuevo FCE</a></button>

    {% endblock %}