{% extends 'base.html.twig' %}

{% block title %}Menu de Gestión Técnica{% endblock %}

{% block body %}
    <div class="center">
    {% if is_granted('ROLE_USER') %}
        <div class="section">
            <h1 class="header center red-text">{{ unidad[0].nombre }}</h1>
        </div>
        <div class="row center">
            <h5 class="header col s12 light">Comience a analizar las debilidades, amenazas, fortalezas y oportunidades de su negocio</h5>
        </div>
        <div class="row center">
            <a href="#" data-target="slide-out" class="btn-large waves-effect waves-light red darken-1 sidenav-trigger">Comenzar</a>
        </div>
    {% else %}
        <h1>Error</h1>
    {% endif %}


{% endblock %}
{% block javascripts %}    
    <script type="text/javascript" src="{{ asset('js/nav.js') }}"></script>
{% endblock %}