<!-- Modal Structure -->
<div id="recuperar" class="modal">
    <form method="POST" action="{{ path('change_password') }}">
        <div class="modal-content">
            <h4>Recuperar contraseña</h4>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" id="boton-recuperar" value="Recuperar" class="modal-close waves-effect waves-green btn-flat">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
    </form>
</div>
