{% extends 'base.html.twig' %}

{% block title %}Editar parte interesada{% endblock %}

{% block body %}
    <h3>Editar parte interesada</h3>

    {{ form_start(form) }}    
        {{ form_row(form.nombre) }}        
    <button class="btn waves-effect waves-light right" type="submit">Guardar</button>
    <a href="#" onClick="window.history.back();" class="btn red darken-1">Volver</a>
    <br/>
    {{ form_end(form) }}

{% endblock %}