{# templates/emails/registration.html.twig #}
<h3>Recuperar contraseña en Atenea!</h3>

Tu nombre de usuario es {{ email }}<br>


{# example, assuming you have a route named "login"#}
Para generar tu contraña: <a href="{{ url('password',{'email':  email,'encriptado': encriptado }) }}">Click para
    generar tu password</a>.<br>

Gracias!<br>