<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}
        <style>
            select{
                display: block;
            }
        </style>
        <nav>
            <div class="nav-wrapper">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="#" class="right">Bienvenido {{ app.user.nombre }} {{ app.user.apellidos }}</a>
                {% else %}
                    <a href="#" class="right"></a>
                {% endif %}
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/Atenea/public/index.php/home">Home</a></li>
                    <li><a href="/Atenea/public/index.php/register">Registrar</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="/Atenea/public/index.php/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/Atenea/public/index.php/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </head>
    <body>
        {% block body %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% endblock %}
        
        
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
